// glowing-text.module.scss
.glowing_txt {
  display: flex;
  align-items: flex-start; // 修改 start 為 flex-start
  justify-content: flex-start; // 修改 start 為 flex-start

  h1 {
    margin: 0;
    padding: 0;
    color: #f4ecec;
    font-size: 5rem;
    letter-spacing: 10px;

    // 平板
    @media screen and (max-width: 992px) {
      font-size: 2.7rem;
    }

    // 大手機
    @media screen and (max-width: 768px) {
      font-size: 2.5rem;
    }

    // 小手機
    @media screen and (max-width: 576px) {
      font-size: 2rem;
    }

    .letter {
      display: inline-block;
      margin: 0;
      padding: 0;
      animation: animate 4.5s linear infinite;

      // 使用迴圈來生成延遲
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: #{($i - 1) * 0.25}s;
        }
      }
    }

    .space {
      width: 0.5em;
      display: inline-block;
    }
  }
}

@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #8b5cf6, 0 0 20px #8b5cf6, 0 0 40px #8b5cf6,
      0 0 60px #8b5cf6, 0 0 80px #8b5cf6, 0 0 100px #8b5cf6, 0 0 120px #8b5cf6,
      0 0 140px #8b5cf6, 0 0 160px #8b5cf6, 0 0 180px #8b5cf6, 0 0 200px #8b5cf6;
  }
  5%,
  95% {
    color: #f1f1f1;
    filter: blur(0px);
    text-shadow: none;
  }
}
