/* Main styles file */

/* Import our variables and mixins */
@import './variables';
@import './mixins';

/* Third-party libraries */
@import '~bootstrap-icons/font/bootstrap-icons';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap';

/* Base styles */
@import './base/reset';
@import './base/typography';
@import './base/utilities';

/* Component styles */
@import './components/buttons';
@import './components/forms';

/* Layout styles */
@import './layouts/header';
@import './layouts/footer';

/* Bootstrap variable overrides using our variables */
$primary: $primary;
$secondary: $secondary;
$success: $success;
$danger: $danger;

/* Button radius */
$border-radius: $border-radius;
$border-radius-sm: $border-radius-sm;
$border-radius-lg: $border-radius-lg;

/* Fixed card height */
/* https://getbootstrap.com/docs/5.3/components/card/#grid-cards */
$card-height: 100%;

// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 這裡導入所有 bootstrap 樣式
// 最後營運階段(實務)可以用部份導入來進行最佳化
// 參考: https://getbootstrap.com/docs/5.3/customize/sass/#importing
@import '~bootstrap/scss/bootstrap';
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓
.me-7 {
  margin-right: 7rem;
}

.bg-main {
  background: linear-gradient(
    333deg,
    #6835a6 9.79%,
    #150928 27.32%,
    #000 49.97%,
    #1b1956 72.85%,
    #402bb0 86.53%,
    #d0bcff 98.34%
  );
  backdrop-filter: blur(10px) brightness(100%);
}

// fixed for __next root div
#__next {
  flex-direction: column;
  height: 100%;
  display: flex;
}

main > .container {
  padding: 60px 15px 0;
}

body {
  font-family: 'Noto Sans TC Regular', Helvetica, Arial, 'PingFang TC',
    '苹方-繁', 'Heiti TC', '黑體-繁', 'Microsoft JhengHei', '微軟正黑體',
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    'Segoe UI',
    // Android
    Roboto,
    // Basic web fallback
    'Helvetica Neue',
    Arial,
    // Linux
    'Noto Sans',
    'Liberation Sans',
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.form-member {
  max-width: 330px;
  padding: 1rem;
}

// below is test only
